  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
  background-color: #fdf6f0; 
  color: #333;
  padding-top: 40px; 
}

.navbar {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #e98181;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #9f1344;
}

#carrito {
  margin-left: auto;
}

#carrito a {
  font-size: 1.5em;
}

.logo {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: white;
  position: absolute;
  left: 50%;
}

.imagenes{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

img {
  display: flex;
  width: 30%;
  border-radius: 10px;
}

.descripcion {
  background-color: #e98181;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 200px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  
}

.descripcion h1{
  color: #9f1344;
  margin: 10px 40px;
  flex-shrink: 0;
}

.descripcion p{
  color: #fdf6f0;
  margin: 0;
  max-width: 500px;
  text-align: justify;
}

.tituloCatalogo{
  color: #e98181;
  text-align: center;
  margin: 70px;
}

.container {
  display: flex;
  flex-wrap: wrap;             
  justify-content: center; 
  gap: 20px;                 
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

.producto {
  background-color: #fff;
  border-radius: 12px;
  width: 260px;               
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  padding: 20px;
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.producto p {
  color: #555;
  font-size: 1em;
  margin: 10px;
}

.producto b {
  color: #e98181;
}

.producto button {
  background-color: #e98181;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.producto button:hover {
  background-color: #9f1344;
}

.producto.estrella img {
  max-width: 400px;
  height: auto;
}

.opciones {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.opciones p {
  margin-bottom: 5px;
  color: #333;
}

.contacto {
  max-width: 350px;       
  margin: 20px auto;      
  padding: 15px 20px;     
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 10px;    
  text-align: center;     
}

.contacto p {
  margin: 0;
  color: #555;
}

.contacto a {
  color: #e98181;
  text-decoration: none;
  font-weight: bold;
}

p a {
  color: #e98181;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

p a:hover {
  color: #9f1344;
}


form {
  max-width: 600px;           
  margin: 40px auto;          
  padding: 30px;              
  background-color: #fff;     
  border-radius: 12px;        
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  font-family: 'Segoe UI';
}

form h1, form h2 {
  text-align: center;
  color: #e98181;
  margin-bottom: 20px;
}

form h2 {
  font-size: 1.5em;
}

form p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
  font-size: 1em;
}

form input[type="text"],
form select,
form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #e98181;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

form input[type="submit"]:hover {
  background-color: #f71f6a;
}



